# Entorno virtual
.venv/
venv/

# Caché y archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Archivos temporales de Excel
~$*.xlsx

# Archivos del sistema operativo
.DS_Store
Thumbs.db